@font-face {
    font-family: 'norsebold';
    src: url('norse-bold-webfont.woff2') format('woff2'),
    url('norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.logoDiv{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 200px;
    font-family: norsebold;
    color: #fff;
    top: 180px;
    height: 250px;
    width: 694px;
    background-color: black;
    opacity: 80%;
}
.logo{
    height: 200px;
    
}
.container{
    height: 100vh;
    width: auto;
    display: flex;
    background-color: #E5E7EB;
}

.child-1{
    height: 100vh;
    width:  auto;
    display: flex;
    margin-left: 0;
    
}
.child-2{
    height: 100vh;
    width: 40vw;
    background-color: #fff;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
}

.box-1{
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #E5E7EB;
    padding: 10%;
    font-size: 30px;
}

.box-2{
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    align-items: center;
    padding: 5% 5% 5% 20%;
    
}

.box-3{
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #E5E7EB;
    padding: 20% 10% 20% 10%;
    font-size: 26px;
}
.btn{
    background-color: #596D48;
    color: #fff;
    padding: 1%;
    border-radius: 5%;
}

.Create{
    margin-left: 10px;
}

a{
    color: #596D48;
}

.box-11{
    display: flex;
    flex-direction: row;
}
.box-12{
    display: flex;
    flex-direction: row;
}
span{
    color: red;
}

input{
    border: 1px solid black ;
    padding: 5px;
    border-radius: 5%;
    font-size: 20px;
    margin: 30px;
}

input:invalid{
    border: 1px solid red;
}

legend{
    font-size: 50px;
}
